# Core
pyrogram==2.1.0
tgcrypto

# Voice calls
pytgcalls==2.1.0

# Web & HTTP
httpx[http2]==0.25.2
aiohttp
aiofiles
requests
flask

# Audio / Video
ffmpeg-python
numpy
opencv-python
pillow==9.5.0
hachoir

# Other utils
dnspython
gitpython
heroku3
motor
psutil
python-dotenv
pyyaml
unidecode
uvloop
spotipy
speedtest-cli
yt-dlp
youtube-search
youtube-search-python
kurigram==2.1.35
pykeyboard
beautifulsoup4
asyncio  # (optional: usually built-in, can skip)
